@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

:root {
    --primary-color: #f09819;
    --second-color: #ffdde1;
}

button:hover {
    transform: scale(1.05)
}

/*ANIMATION */

@keyframes zoom {
    from {
        transform: scale(0)
    }

    to {
        transform: scale(1)
    }


}

@keyframes fromLeft {
    from {
        transform: translateX(-100%);
    }
    to {
        transform: translateX(0);
    }
}

@keyframes fromRight {
    from {
        transform: translateX(100%);
    }

    to {
        transform: translateX(0);
    }
}

/*END OF ANIMATION */

body {
    font-family: Rubik, 'cursive';
    font-weight: 300;
    background:
        #fff;
    color: #555;
    overflow-x: hidden;
}


.home a {
    text-decoration: underline;
    color: var(--primary-color);
    font-size: 20px;
}

.home {
    text-align: center;
}

a {
    text-decoration: none;
    text-transform: capitalize;
    color: #555;
    font-weight: 700;
    /*  fs change  */
    font-size: 10px;
}

.btn {
    padding: 1rem;
    background:
        #f09819;
    border-radius: 5px;
}

li {
    list-style-type: none;
}

/*  TESTIOMONY GALLERY*/

.test-box-img img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    object-fit: cover;
}

#testimony {
    display: flex;
    justify-content: space-between;
    padding: 5rem 0;

}

.testimonies {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 1rem;
}

.galler-img img {
    display: block;
    width: 100%;
    height: 100%;
    transition: all 0.4s;
}

.galler-img img:hover {
    transform: scale(1.1);
    cursor: pointer;
}



.galler-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 1rem;
    padding: 1.6rem;

}

.testimony-head {
    padding: 3rem 0;
}

.testimony-head h6 {
    font-size: 1.6rem;
    padding: 1.2rem 0;
}

.testimony-head p {
    font-size: 18px;
}

.single-testimony {
    margin: 1rem 0;
}

.testbox {
    padding: 5px 0;
}

.testbox p {
    line-height: 1.5;
}

.testbox div span {
    color: #6f6f6f;
    font-style: italic;
    padding-top: 10px;
}





/*  END OF GALLERY*/

/* PRICE SECTION */
.price-head {
    padding: 3rem 0;
    text-align: center;
}

.price-head h6 {
    color: var(--primary-color);
    padding: 1.2rem 0;
    font-size: 26px;
}

.price-head p {
    font-size: 20px;
    font-weight: 700;
}

.box-head p {
    color: #6f6f6f;
}

.box-head {
    padding: 2rem 0;
    text-align: center;

}

.price-box {
    box-shadow: 0 0 2px var(--primary-color);
    border-radius: 10px;
    padding: 1rem 25px;
    margin: 2rem 0;
}

.price-section {
    background: #fff;
}

.box-head span {
    font-size: 15px;
    font-weight: 700;
    padding: 0 5px;
}

.box-head h1 {
    padding: .8rem 0;
    letter-spacing: 2px;
}

.box-head h2 {
    color: var(--primary-color);
    padding: 15px 0;
}

.bg-color {
    background: var(--second-color)
}

.price-footer {
    text-align: center;
    padding: 2.5rem 0;
    color: #6f6f6f;
    font-style: italic;
}

.single-step {
    margin: 1rem 0;
}

.step-box-container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;

}

.step-icon {
    width: 60px;
    height: 60px;
    background: var(--second-color);
    display: grid;
    align-items: center;
    justify-content: center;
    border-radius: 50%;

}


/*END OF PRICE  */


/*CONTACT SECTION*/
.contact-container {
    border-radius: 10px;
    overflow: hidden;
    display: flex;
    background: var(--primary-color);
}

.contact-section {
    background: #fff;
    margin-top: 3rem;

}

option {
    text-transform: capitalize;
}

.contact-image {
    flex-basis: 70%;
}

.contact-image img {
    height: 100%;
    width: 100%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.contact-container h1 {
    padding: 1.5rem 0;
}

.contact-text {
    background: var(--primary-color);
    padding: 1rem;
    flex-basis: 100%;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px
}



.contact-container p {
    padding: 1rem 0;
}

.contact-container label {
    display: block;
    text-transform: capitalize;
    font-weight: 600;
    padding: .2rem 0;
}

.form {
    padding: 1rem 0;
}

input[ value="sign up"] {
    text-transform: uppercase;
    font-weight: 700;
    color: #fff;
}

input[type="submit"] {
    transition: background .3s;
    background: #0f2027;
}

input[type="submit"]:hover {
    background: #203a43
}

input[type="text"],
input[type="email"],
select,
input[type="submit"]:hover {
    box-shadow: 0 0 10px #fff;
    outline: 0;
}

input[type="text"],
input[type="email"],
select,
input[type="submit"] {
    padding: .5rem;
    width: 40%;
    border-radius: 5px;
    border: 0;
}

/* END OF CONTACT SECTION */

/* FOOTER */
hr {
    margin: 3rem 0;
}

footer {
    margin: 3rem 0;
}

.logo-img img {
    width: 150px;
}

.single-footer {
    margin: 1.5rem 0;
    flex-basis: 50%;
}

.single-footer p {
    line-height: 2;
}

.all-footer {
    background: #fff;
}

.footer {
    display: flex;
    flex-wrap: wrap;
}

.social i {
    margin-left: 1rem;
    padding: 1rem 0;
    transition: color 1s;
}

.social i:hover {
    color: #555;
    cursor: pointer;
}

/* END OF FOOTER */



header {
    padding: 1.5rem 20px;
    background: #ffdde1;
    /*   position: sticky; */
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav ul {
    display: flex;

}

.flex {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-content: center;
}


.flex-img {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1.5rem 0;
}

.flex-img::before,
.flex-img::after {
    content: "";
    display: block;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}


.flex-img::before {
    width: 60%;
    padding-bottom: 60%;
    position: absolute;
    background-color: #fdf2e9;
    z-index: -2;
}

.flex-img::after {
    width: 45%;
    position: absolute;
    padding-bottom: 45%;
    background-color: #fae5d3;
    z-index: -1;
}




.image {
    width: 35%;
}

.hw-work p {
    font-weight: 800;
    font-size: 25px;
    padding: 2rem 0;
}

.hw-work h6 {
    color: #f09819;
}

.hw-work {
    text-align: left;
    padding: 2rem 0;
}

nav ul li {
    margin: 0 1rem;
}

.logo img {
    width: 10rem;
}

img {
    width: 100%;
}

.meal-1:hover {
    transform: translateY(-10px);
    cursor: pointer;
}


.meal-1:nth-child(3):hover {
    transform: translateY(0);
    cursor: none;
}



.container {
    max-width: 1100px;
    padding: 0 30px;
    margin: 0 auto;
}

.buttons {
    margin: 3rem 0;
}

.buttons button {
    border: 0;
    padding: 1.2rem 2rem;
    font-weight: 700;
    text-transform: capitalize;
    color: #fff;
    font-size: 15px
}

.buttons button:nth-child(2) {
    color: #555;
    background: #fff;
}

.banner-text p {
    margin: .5rem 0;
    line-height: 1.5;
    font-weight: 400;
    font-size: 1.2rem;
    animation: fromLeft 1s;
}

.banner-text h1 {
    text-transform: Capitalize;
    font-weight: 700;
    font-size: 2.5rem;
    margin: 1.2rem 0;
    animation: fromRight 1s ease-in-out;
}

.banner-img img {
    width: 1.8rem;
    height: 1.8rem;
    border-radius: 50%;
    margin-left: -15px;
    border: 3px solid #ffdde1;
    object-fit: cover;
}

.img-container {
    display: flex;
    align-items: center;
}

.hero-img img {
    width: 15rem;
    height: 12rem;
    display: block;

}

.hero-img {
    position: relative;
}

.hero-section {
   
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background: #ffdde1;
}

.hero-img img:nth-child(1) {
    position: relative;
    height: 15rem;
    width: 13rem;
    top: 5rem
}

.hero-img img:nth-child(3) {
    position: relative;
    bottom: 7rem;
    left: -5rem;
    width: 20rem;
    margin: 0 auto;
    padding: 0 20px;
}

.hero-img img:nth-child(2) {
    position: relative;
    bottom: 5rem;
    left: 8rem;
    top: .1rem
}

.flex-1 h1 {
    color: gray;
    font-size: 4rem;
    padding: 2rem 0;
}

.flex-1 h3 {
    padding-bottom: 2rem;
    font-size: 2rem;
}

.flex-1 p {
    line-height: 1.3;
    font-size: 20px;
}

.num {
    color: #f09819;
}

/* FEATURE SECTION */

.featured img {
    width: 10rem;
    height: 3rem;
    margin: 0 auto;
    display: block;
}

.featured {
    display: flex;
    align-items: center
}

.main-section {
    background: #fff;
    padding: 0 5rem;
}

.featured-h6 {
    padding: 2rem 0;
}

.featured-h6 h6 {
    text-transform: uppercase;
    text-align: center
}


.img-container p {
    margin: 0 1rem;
}


/* Media Queries */

@media(min-width: 780px) {
    .hero-section {
        max-width: 130rem;
        padding: 1rem 30px;
        margin: 0 auto;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-column-gap: 3rem;

    }

    nav ul li a {
        font-size: 1rem;
    }

    .menu {
        display: none;
    }

    .single-footer {
        margin: 1.5rem 0;
        flex-basis: 20%;
    }

    input[type="text"],
    input[type="email"],
    input[type="submit"],
    select {
        width: 80%;
    }

    .contact-container {
        height: 550px;
    }

    .form {
        display: grid;
        grid-template-columns: 50% 50%;
        grid-gap: 1.8rem;
        align-items: center;

    }

    .contact-text {
        display: grid;
        align-items: center;
        justify-content: center;
        padding: 4rem;
        border-top-left-radius: 10px;
        border-bottom-left-radius: 10px;
    }

    .contact-image img {
        border-top-left-radius: 0;
        border-bottom-right-radius: 10px;
    }

    .single-step {
        flex-basis: 20%;
        padding-left: 2rem;
    }

    .price-box-container {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .price-box {
        margin: 0 2rem;
    }

    .allmeal {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .meal-1 {
        flex-basis: 30%;
        margin-left: 1rem;
    }

    .hero-img {
        margin-top: 1rem;
    }

    .banner-text h1 {
        margin: 1rem 0;
        font-size: 3rem;
        animation: fromLeft 1s;
    }

    .banner-text p {
        animation: fromRight 1s;;
    }

    .hero {
        margin: 0 auto;

    }
}

@media(max-width: 780px) {
    .banner-text {
        text-align: center;
    }

    input[type="text"],
    input[type="email"],
    select,
    input[type="submit"] {
        width: 100%;
    }

    .hero-section {
        padding: 4rem 0;
    }

    .hero-section h1 {
        font-size: 1.9rem;
    }

    /*  LINK TOGGLE  */

    header {
        height: 100vh;
        flex-direction: column;
        z-index: 2;
        position: absolute; 
        overflow: hidden;
        transition: height .3s;
        background: white;
        padding: 2.1rem 0;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        position: fixed;
    }

    .links nav ul {
        flex-direction: column;

    }

    nav ul li {
        padding: 1rem 0;
        font-size: 2.3rem;
        text-align: center;
    }

    nav ul {
        padding: 12rem 0;
    }

    .hero-section {
        z-index: -2;
    }

    nav ul li a {
        font-size: 1rem;
    }

    .logo {
        position: fixed;
        left: 1rem;
        top: 1.4rem;
    }



    .logo img {
        width: 6rem;
        top: 0;
    }



    .menu {
        position: fixed;
        right: 2rem;
        font-size: 2rem;
        top: 1.2rem;
        cursor: pointer;
        animation: 2s zoom infinite;

    }

    .menu i {
        color: #555;

    }

  

    /*  end of link  */

    .contact-container {
        flex-direction: column-reverse;
    }

    .contact-image img {
        height: 400px;

    }

    .single-step {
        flex-basis: 50%;
        text-align: justify;
        padding-left: 2rem;
    }

    .price-box-container {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .price-box {
        margin: 0 1rem;
    }

    .galler-grid {
        grid-template-columns: 1fr 1fr;
    }

    .allmeal {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
    }

    .meal-1 {
        flex-basis: 45%;
    }



    meal-section {
        padding: 5rem 40px;

    }

    .buttons {
        text-align: center;
    }

    .img-container {
        justify-content: center;
    }

    .featured img {
        width: 5rem;
        height: 1rem;
        margin: 0 auto;
        display: block;
    }

    .flex-1 {
        text-align: center;
    }

    .flex {
        grid-template-columns: 1fr;
    }

    .flex-img {
        grid-row: 1;
    }

    .main-section {
        padding: 0 10px;
    }

}

/* MEAL SECTION */

.meal-section {
    padding: 5rem 20px;
    background: #fff;
}

.meal-header h6 {
    color: var(--primary-color);
}

.meal-header {
    text-align: center;
    padding-bottom: 1.6rem
}

.meal-1 {
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    overflow: hidden;
    margin: 2.5rem 0;
    transition: .6s transform;
}

.meal-img img {
    height: 15rem;
}

.second-meal {
    display: flex;
    padding: .5rem 0;
    color: #fff;
}

.second-meal h4:nth-child(1) {
    background: green;
    padding: 5px;
    border-radius: 5px;
}

.second-meal h4:nth-child(2) {
    background: darkgreen;
    padding: 5px;
    border-radius: 5px;
    margin-left: 4px;
}

.meal-infor {
    padding: 1rem 15px;
}

.meal-head {
    padding: 5px 0;

}

h5 {
    font-weight: bold;
    font-size: 1rem;
}

.meal-head h4 {
    background: green;
    padding: 5px;
    border-radius: 5px;
    width: 7rem;
    color: #fff;
    border-radius: 5px;
}

.meal-single {
    display: flex;
    padding: .8rem 0;
}

.meal2 {
    padding: 20px;
}

.meal-single p {
    padding-left: 1rem;
    text-align: justify;
}

i {
    color: var(--primary-color)
}

.meal-header p {
    font-weight: 700;
    font-size: 25px;
}

/*END OF MEAL SECTION  */

@media(max-width: 500px) {
    .featured img {
        width: 2.5rem;
        height: 1rem;

    }

    .btn {
        margin: .3rem 0;
    }

    .form {
        padding: 3px 0;
    }

    .contact-text p {
        padding: 1px 0;
    }

    .contact-text h1 {
        padding: 5px 0;
    }

    .contact-image img {
        height: 200px;
    }

    .single-footer {
        flex-basis: 100%;
    }


    .single-step {
        flex-basis: 100%;
        padding: 0;
    }

    .price-footer {
        font-size: 12px;
    }

    .meal-1 {
        flex-basis: 100%;
    }

    .testimonies {
        grid-template-columns: 1fr;
    }

    .hero-img img:nth-child(1) {
        position: relative;
        height: 15rem;
        width: 13rem;
        top: 5rem
    }

    .hero-img img:nth-child(3) {
        position: relative;
        bottom: 10rem;
        left: -3rem;
        width: 18rem;

    }

    .hero-img img:nth-child(2) {
        position: relative;
        bottom: 8rem;
        left: 8rem;
        top: .1rem
    }

    #testimony {
        display: flex;
        flex-direction: column;
    }

    .galler-grid {
        padding: 2rem 0;
        grid-template-columns: repeat(6, 1fr);
        grid-gap: 5px;
    }

    .hero-img img:nth-child(1) {
        position: relative;
        height: 15rem;
        width: 18rem;
        top: 3rem
    }

    .price-box-container {
        display: flex;
        flex-direction: column;
    }

    .price-box {
        margin: 1.5rem 0;
    }

    .flex-1 h1 {
        font-size: 1.8rem;
        padding: .2rem 0;
    }

    .flex-1 h3 {
        font-size: 1.5rem;
        padding-bottom: .8rem;
    }

    .flex-1 p {
        font-size: .8rem;
        padding: .2rem 0;
    }

    .main-section {
        padding: 0 5px;
    }

    .hw-work h6 {
        margin: 2px 0;
    }

    .hw-work p {
        padding: 5px 20px;
    }

    .hw-work {
        text-align: center;
        padding: 1.8rem 0;
    }

}